<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Python FHIR App Starter Template</title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
<h1>Python FHIR App Starter Template</h1>
<div class="main">
    <!--The <pre> tag preserves newlines ('\n') and other string formatting.
    Double curly braces represent dynamic variables which will be populated through our app.py file while rendering-->
    <pre>{{ patient_example }}</pre>
    <pre>{{ condition_example }}</pre>
</div>
</body>

</html>